### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.class

### Secrets / Credentials ###
application-secrets.properties
application-secrets.yml
*.env
.env
.env.*

### OS ###
.DS_Store
Thumbs.db

### Spring Boot ###
logs/*.log
logs/*.log.*
logs/*.gz
spring.log
