<p-toolbar>
  <ng-template #start>
    <span class="app-title">{{ 'app.title' | transloco }}</span>
  </ng-template>
  <ng-template #center>
    <app-global-search />
  </ng-template>
  <ng-template #end>
    <button class="logout-btn" (click)="onLogout()" type="button">
      {{ 'nav.logout' | transloco }}
    </button>
  </ng-template>
</p-toolbar>

<div class="layout">
  <nav class="sidebar">
    <ul>
      @for (item of visibleNav(); track item.route) {
        <li>
          <a [routerLink]="item.route" routerLinkActive="active">
            {{ item.labelKey | transloco }}
          </a>
        </li>
      }
    </ul>
  </nav>
  <main class="content">
    <router-outlet />
  </main>
</div>
